.menu {
    text-align: center;
    color: rgb(11, 184, 54);
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: white;
    width: 100%;
    height: 100px;
    padding-top: 22px;
}

.cont {
    text-align: end;
    color: black;
    font-size: 22px;
    font-style: normal;
    padding: 0 15px 0 0;
}

.cont-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 20px;
    list-style: none;
}

.cont-img li {
    max-width: 100%;
    max-height: 100%;
    margin: 15px;
    border: 3px solid black;
    border-radius: 12px;
    background-color: rgb(238, 238, 238);
}

.cont-img li:hover {
    background-color: rgb(205, 180, 228);
    border-color: rgb(155, 0, 0);
}

.cont-img img {
    width: 100%;
    height: auto;
}

.cont-img h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 18px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
}

.precio {
    margin: 10px;
    font-size: 20px;
    color: rgb(255, 5, 5);
    text-align: center;
}

.descripcion {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: rgb(29, 24, 24);
    text-align: center;
    margin-top: 10px;
}

.desc {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    color: green;
    margin-top: 10px;
}