.menu2 {
    text-align: center;
    color: black;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    height: 110px;
    width: 100%;
    padding-top: 22px;
}

.video h2 {
    text-align: center;
    color: rgb(253, 39, 1);
    font-size: 18px;
    background-color: white;
    height: 100%;
    width: 100%;
    padding-top: 12px;
}

.video {
    width: auto;
    margin: 1em auto;
    border: 2px solid rgb(95, 93, 93);
    border-radius: 12px;
}

li {
    list-style: none;
}

footer {
    font-size: 14px;
}

.row2 {
    justify-items: center;
    padding: 5px 7px 5px 2px;
}

nav1 li1 {
    display: grid;
    margin: 3px 0 0 9px;
    height: 32px;
    width: 121px;
    text-align: center;
}